<footer class="site-footer">
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col">
                <span>This project is free and <a href="{{ site.repo }}">open source</a>.</span>
            </div>
        </div>
    </div>
</footer>
