<header class="site-header" role="banner">
    <div class="wrapper">
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
        <span class="site-description">{{ site.description | escape }}</span>
    </div>
</header>
